.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    border-color: black;
    background-color: white;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    color: black;
}

#log-out-btn {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}